<a href="https://colab.research.google.com/github/aguscura/UBA-data-science/blob/main/tp1_p30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# P30
Según la paradoja de la amistad, en redes sociales, tus amigos suelen tener en promedio más amigos que vos :(. 
Calcule el promedio de amigos que tiene cada usuario y el promedio de amigos que tienen los amigos de cada usuario.

In [22]:
#!gdown "1owjSBHKLx0pJMdQYtKUIfiXqBV3lfCdS"

Downloading...
From: https://drive.google.com/uc?id=1owjSBHKLx0pJMdQYtKUIfiXqBV3lfCdS
To: /content/user.csv
100% 2.71G/2.71G [00:13<00:00, 203MB/s]

In [23]:
import pandas as pd
df = pd.read_csv('/content/user.csv')
df

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,5.0,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,64.0,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,0.0,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,0.0,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,7.0,2007-01-05 19:40:59,29,15,7,NaN,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,1.0,2015-01-06 00:31:31,7,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,0
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1.0,2016-06-14 07:20:52,0,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,0
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,1.0,2017-02-04 15:31:58,1,1,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,0
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,1.0,2011-01-14 00:29:08,0,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,0
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,1.0,2020-12-19 02:32:39,0,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df = df[["user_id", "name", "friends"]]
df

,user_id,name,friends
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA..."
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A..."
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA..."
3,SZDeASXq7o05mMNLshsdIA,Gwen,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg..."
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA..."
...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,None
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,None
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,None
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,None
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,None

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   friends  object
dtypes: object(3)
memory usage: 45.5+ MB

# Amigos de cada usuario + promedio

In [26]:
df["friends_count"] = df["friends"].map(lambda x: len(x.split(", ")) if (x != 'None') else 0)
df["friends_count"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0          14995
1           4646
2            381
3            131
4             27
           ...
1987892        0
1987893        0
1987894        0
1987895        0
1987896        0
Name: friends_count, Length: 1987897, dtype: int64

In [27]:
promedio_amigos = df["friends_count"].mean()
promedio_amigos

"""
No estoy seguro si lo pide la consigna (creo que no), pero en promedio los usuarios del dataset tienen 52.93306142119033 amigos
"""

'\nNo estoy seguro si lo pide la consigna (creo que no), pero en promedio los usuarios del dataset tienen 52.93306142119033 amigos\n'

# Promedio de amigos de los amigos de usuario x

Por problema de memoria resuelvo con los primeros 10000 elementos del df

In [28]:
df = df.head(10000)

In [29]:
#Chequeo si user_id tiene valores repetidos porque voy a poner el id de index.
df['user_id'].duplicated().any()

False

In [30]:
df.user_id.value_counts().sort_values(ascending=False)

qVc8ODYU5SZjKXVBgXdI7w    1
lO1iq-f75hnPNZkTy3Zerg    1
x7YtLnBW2dUnrrpwaofVQQ    1
2WnXYQFK0hXEoTxPtV2zvg    1
SZDeASXq7o05mMNLshsdIA    1
                         ..
aRHCotI2RUMHAU3qOEu7ug    1
8pD-h427Y_aDcPxhDR7z8g    1
iJ49Vf4yOg5uVqNFCk5q-g    1
Ry6R2TMTQOInMXJR2TJh4w    1
fPvAAXp-B-fTS3_HOxvqlg    1
Name: user_id, Length: 10000, dtype: int64

In [31]:
#Seteo user_id como index
df.set_index("user_id", inplace=True)
df

,name,friends,friends_count
user_id,,,
qVc8ODYU5SZjKXVBgXdI7w,Walker,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",14995
j14WgRoU_-2ZE1aw1dXrJg,Daniel,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",4646
2WnXYQFK0hXEoTxPtV2zvg,Steph,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",381
SZDeASXq7o05mMNLshsdIA,Gwen,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",131
hA5lMy-EnncsH4JoR-hFGQ,Karen,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",27
...,...,...,...
Ry6R2TMTQOInMXJR2TJh4w,Allen,"nBU5tR_sUGRATX1iDd3ISw, y2f8pExjkJxMICG0mgxQnQ...",607
UnHIN6t0MVRdC0Jo9oD9PQ,Shanel,"xR_8zWgLc9PwKK2lHTLPqg, X-cHFsVb_uFMHpxtWx5RlA...",57
nbF6fWySgbbD15TGSOKN6Q,Britta,"4xlgvlij2-YRWbjxzFiVFQ, V2OoxojbgbKSlSAv209OcA...",18
rVuP6BdGt_8QF7PA0kRyvQ,Nel,"os3Q5QS-pkxpIwVeeTB3kA, mV4lknblF-zOKSF8nlGqDA...",56
fPvAAXp-B-fTS3_HOxvqlg,Jon,"0jL0CYSScmT7a2L_tiR_OQ, 3jyJ7VIRuKiZDr6WwAvovg...",63

In [32]:
#A pesar de que estoy tomando solo un % del df, aún con el dataset entero:
#df["name"]["PBK4q9KEEBHhFvSXCUirIw"]
#IMPORTANTE: Para Karen (hA5lMy-EnncsH4JoR-hFGQ), su primer amigo: "PBK4q9KEEBHhFvSXCUirIw" no está en el dataset. No sabemos cuantos amigos tiene el primer amigo de Karen. Lo excluimos de la cuenta.

In [33]:
# Prueba con dataset entero
# Para el cuarto elemento, de los 27 amigos, solo 3 están en el dataset.
# for friend in df["friends"][4]:
#     try: 
#       print(friend)
#       print(df.loc[str(friend), "friends_count"])
#     except:
#       continue

In [34]:
#Transformo str a lista para iterar sobre los amigos. ACA ES DONDE TENGO EL PROBLEMA DE MEMORIA
df["friends"] = df["friends"].map(lambda x: x.split(", "))
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,name,friends,friends_count
user_id,,,
qVc8ODYU5SZjKXVBgXdI7w,Walker,"[NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8q...",14995
j14WgRoU_-2ZE1aw1dXrJg,Daniel,"[ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0...",4646
2WnXYQFK0hXEoTxPtV2zvg,Steph,"[LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgy...",381
SZDeASXq7o05mMNLshsdIA,Gwen,"[enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74V...",131
hA5lMy-EnncsH4JoR-hFGQ,Karen,"[PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMb...",27
...,...,...,...
Ry6R2TMTQOInMXJR2TJh4w,Allen,"[nBU5tR_sUGRATX1iDd3ISw, y2f8pExjkJxMICG0mgxQn...",607
UnHIN6t0MVRdC0Jo9oD9PQ,Shanel,"[xR_8zWgLc9PwKK2lHTLPqg, X-cHFsVb_uFMHpxtWx5Rl...",57
nbF6fWySgbbD15TGSOKN6Q,Britta,"[4xlgvlij2-YRWbjxzFiVFQ, V2OoxojbgbKSlSAv209Oc...",18
rVuP6BdGt_8QF7PA0kRyvQ,Nel,"[os3Q5QS-pkxpIwVeeTB3kA, mV4lknblF-zOKSF8nlGqD...",56
fPvAAXp-B-fTS3_HOxvqlg,Jon,"[0jL0CYSScmT7a2L_tiR_OQ, 3jyJ7VIRuKiZDr6WwAvov...",63

In [35]:
mean_list = []

for i in df.index:
    suma = 0
    count = 0 
    for friend in df["friends"][i]:
      try: 
        suma = suma + df.loc[str(friend), "friends_count"]
        count = count + 1
      except:
          continue

    if (count != 0): #si tiene amigos, agregamos el promedio a la lista.
      mean_list.append(suma/count)
    else: #si no tiene amigos, agregamos NaN a la lista
      mean_list.append(None)

In [36]:
#Coincide con tamaño df
len(mean_list)

10000

In [37]:
df["mean_friends"] = mean_list

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
df

,name,friends,friends_count,mean_friends
user_id,,,,
qVc8ODYU5SZjKXVBgXdI7w,Walker,"[NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8q...",14995,439.348694
j14WgRoU_-2ZE1aw1dXrJg,Daniel,"[ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0...",4646,1518.060976
2WnXYQFK0hXEoTxPtV2zvg,Steph,"[LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgy...",381,2030.096774
SZDeASXq7o05mMNLshsdIA,Gwen,"[enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74V...",131,1061.400000
hA5lMy-EnncsH4JoR-hFGQ,Karen,"[PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMb...",27,NaN
...,...,...,...,...
Ry6R2TMTQOInMXJR2TJh4w,Allen,"[nBU5tR_sUGRATX1iDd3ISw, y2f8pExjkJxMICG0mgxQn...",607,206.000000
UnHIN6t0MVRdC0Jo9oD9PQ,Shanel,"[xR_8zWgLc9PwKK2lHTLPqg, X-cHFsVb_uFMHpxtWx5Rl...",57,723.500000
nbF6fWySgbbD15TGSOKN6Q,Britta,"[4xlgvlij2-YRWbjxzFiVFQ, V2OoxojbgbKSlSAv209Oc...",18,1247.250000
rVuP6BdGt_8QF7PA0kRyvQ,Nel,"[os3Q5QS-pkxpIwVeeTB3kA, mV4lknblF-zOKSF8nlGqD...",56,NaN
fPvAAXp-B-fTS3_HOxvqlg,Jon,"[0jL0CYSScmT7a2L_tiR_OQ, 3jyJ7VIRuKiZDr6WwAvov...",63,360.000000

In [39]:
df["paradox"] = df["mean_friends"] > df["friends_count"]
df

#Para los casos borde donde no tienen amigos o no tenemos el registro de los amigos de los amigos, paradox será False.
#Pq a priori, no sabemos si se cumple.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,name,friends,friends_count,mean_friends,paradox
user_id,,,,,
qVc8ODYU5SZjKXVBgXdI7w,Walker,"[NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8q...",14995,439.348694,False
j14WgRoU_-2ZE1aw1dXrJg,Daniel,"[ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0...",4646,1518.060976,False
2WnXYQFK0hXEoTxPtV2zvg,Steph,"[LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgy...",381,2030.096774,True
SZDeASXq7o05mMNLshsdIA,Gwen,"[enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74V...",131,1061.400000,True
hA5lMy-EnncsH4JoR-hFGQ,Karen,"[PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMb...",27,NaN,False
...,...,...,...,...,...
Ry6R2TMTQOInMXJR2TJh4w,Allen,"[nBU5tR_sUGRATX1iDd3ISw, y2f8pExjkJxMICG0mgxQn...",607,206.000000,False
UnHIN6t0MVRdC0Jo9oD9PQ,Shanel,"[xR_8zWgLc9PwKK2lHTLPqg, X-cHFsVb_uFMHpxtWx5Rl...",57,723.500000,True
nbF6fWySgbbD15TGSOKN6Q,Britta,"[4xlgvlij2-YRWbjxzFiVFQ, V2OoxojbgbKSlSAv209Oc...",18,1247.250000,True
rVuP6BdGt_8QF7PA0kRyvQ,Nel,"[os3Q5QS-pkxpIwVeeTB3kA, mV4lknblF-zOKSF8nlGqD...",56,NaN,False
fPvAAXp-B-fTS3_HOxvqlg,Jon,"[0jL0CYSScmT7a2L_tiR_OQ, 3jyJ7VIRuKiZDr6WwAvov...",63,360.000000,True

In [42]:
result = df["paradox"].sum() / len(df) 
print(result)

""" Solo usando 10000 registros de los 1987897, la paradoja se cumple un 75% de las veces"""

0.7539

' Solo usando 1000 registros, la paradoja se cumple, '